.main {
    background-image: url('https://occ-0-299-784.1.nflxso.net/art/e286b/bdebc8b1a06ae25b6b230397bee5f60da7ae286b.webp');
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    height: 40vw;
}
