header img {
    margin-left: 40px;
    height: 60px;
}

body {
    font-family: sans-serif;
    background-color: #141414;
    margin: 0;
}

main {
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 10;
}

.nav {
    display: flex;
    align-items: center;
}

.black {
    background-color: #141414;
    transition: background-color 500ms linear;
}


header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
}